
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5rem;
}

.app-container {
  width: 100%;
}

.nav-container1 {
  display: flex;
  align-items: center;
  justify-content: left;
  /* border-bottom: 1px solid black; */
  position: fixed;
  z-index: 2;
  height: 4rem;
  padding: 0 1rem;
  width: 100%;
  background: white;
  box-shadow: 0px 1px 5px 1px rgb(106, 106, 106);
}

.nav-container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100rem;
  justify-content: center;
  background: rgb(68, 68, 68);
  position: absolute;
  top: 64px;
  right: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 2;
  transition: .3s all ease;
}

.fa-bars {
  transition: .5s all ease;
  scale: 1.5;
  margin-left: auto;
  cursor: pointer;
}

.fa-xmark {
  right: 0px;
  scale: 1.7;
  transition: .5s all ease;
  margin-left: auto;
  cursor: pointer;
}

.fa-bars:active,
.fa-xmark:active {
  transform: rotate(360deg);
  transition: ease all .1s;
}

.fa-bars:hover,
.fa-xmark:hover {
  color: rgb(107, 169, 255);
}

.nav-item {
  list-style: none;
  text-align: center;
  margin: 2.5rem auto;
  width: 100%;
  font-size: 3rem;
  /* font-family: 'Righteous', cursive; */
  transition: .5s all ease;
  color: white;
  cursor: pointer;
}

.nav-item:hover {
  color: rgb(107, 169, 255);
}

.hero-container {
  position: relative;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  margin-right: .5rem;
  width: 15rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgb(156, 156, 156);
}

.hero-title {
  margin: 1rem 0;
  text-align: center;
  width: 300px;
}

.hero-description {
  width: 80%;
  margin: 1.25rem 0 0 0;
  z-index: 1;
  top: 90px;
}

.hero-description-title {
  font-size: 2rem;
  background: rgb(94, 171, 254);
  color: white;
  width: 100%;
  text-align: center;
  margin: 1.25rem auto;
  padding: .25rem 1rem;
  z-index: 1;
  top: 90px;
  border-radius: 3px;
}

.what-i-do-container {
  background: rgb(75, 75, 75);
  background-image: url("./assets/css-cocodingbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(158, 157, 157);
  background-blend-mode: multiply;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.what-i-do-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.design-container,
.development-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 0 0;
}

.skill-icon {
  margin: 0 .25rem;
  width: 50px;
  transition: ease all .5s;
}

.see-projects-btn {
  width: 150px;
  height: 60px;
  padding: 1re;
  margin: 1rem auto;
  background: rgb(94, 171, 254);
  border: none;
  color: white;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.25rem;
  border-radius: 2px;
  transition: .5s ease all;
  cursor: pointer;
}

.see-projects-btn:hover {
  scale: 1.2;
}

.what-i-do-mini-title {
  background: rgb(94, 171, 254);
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: .25rem 1rem;
  border-radius: 3px;
}

.what-i-do-descrip {
  padding: 0 24px;
}

.who-i-am-container {
  padding: 4rem 0;
}

.who-i-am-mini-title {
  background: rgb(94, 171, 254);
  color: white;
  width: 70%;
  margin: auto;
  padding: .25rem 1rem;
  border-radius: 3px;
  z-index: -1;
}

.who-i-am-description {
  padding: 1rem 1.5rem;
}

.projects-container {
  background: rgb(68, 68, 68);
  color: white;
  padding: 4rem 0 2rem 0;
  border-top: 1px solid darkgray;
}

.portfolio-descrip {
  /* background: rgb(94, 171, 254);
  width: 80%; */
  text-align: center;
  margin: 0 auto 1.5rem auto;
  padding: .25rem 1rem;
  border-radius: 3px;
}

.mini-proj-container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
}

.portfolio-item {
  margin: .5rem auto;
  width: 400px;
  height: 300px;
  background: rgb(150, 197, 235);
  color: black;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 0px 10px 3px rgb(35, 35, 35);
  position: relative;
}

.portfolio-item:focus {
  position: relative;
  z-index: 1;
}

.portfolio-img {
  transition: 
      transform 750ms cubic-bezier(.5, 0, .5, 1),
      opacity 250ms linear;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px 1px rgb(35, 35, 35);
}

.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
  transform: scale(1.2);
  opacity: .5;
}

#item0 {
  object-position: 0% 0%;
  object-fit: cover;
}

#item1, #item3, #item4 {
  object-position: 100% 0;
}

.project-name {
  margin-bottom: .5rem;
  text-decoration: none;
}

.project-description {
  margin: 0 auto .5rem;
}

a {
  text-decoration: none;
}

footer {
  background: black;
  padding: 3rem 3rem 2rem 3rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-email, .footer-title {
  margin: .5rem auto;
  color:rgb(94, 171, 254)
}

.social-icon-container {
  margin: 1rem 0;
}

.fa-linkedin,
.fa-github {
  width: 2rem;
  font-size: 2rem;
  margin: 0 1rem;
  text-decoration: none;
  color: rgb(108, 164, 255);
}

.fa-linkedin:visited,
.fa-github:visited {
  text-decoration: none;
  color: rgb(108, 164, 255);
}

/* media queries */
@media screen and (min-width: 700px) {

  .nav-container1 {
    top: 0;
  }

  .hero-container {
    height: 500px;
    padding: 1rem;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: 2rem auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .hero-logo {
    margin-right: .5rem;
    width: 19rem;
    border-radius: 3px;
    border: 2px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 10px 1px rgb(156, 156, 156);
  }
  
  .hero-title {
    font-size: 5.5rem;
    margin: 0 0 8rem .5rem;
    text-align: left;
  }

  .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    height: 50px;
    width: 80%;
    max-width: 900px;
    position: absolute;
    top: 280px;
    bottom: 10px;
    z-index: -1;
  }

  .hero-description-title {
    text-align: right;
    width: 100%;
    margin: 0 0 0 auto;
  }

  .skills-container {
    display: flex;
    justify-content: right;
    margin: 2rem 0 0 0;
    top: 330px;
    right: 70px;
    z-index: 2;
  }

  .skill-icon {
    margin: 0 1rem;
    width: 70px;
  }

  .what-i-do-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}