/* ===========GENERAL STYLES============== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.5rem;
  background: rgb(39, 39, 39);
  color: rgb(88, 153, 170);
  font-family: "Teko", sans-serif;
}

h1, h2, h3 {
  color: rgb(88, 153, 170);
}

p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: white;
}

.app-container {
  width: 100%;
}

/* ============NAV SECTION=============== */

.nav-container1 {
  display: flex;
  align-items: center;
  justify-content: left;
  /* border-bottom: 1px solid black; */
  position: fixed;
  z-index: 2;
  height: 4rem;
  padding: 0 1rem;
  width: 100%;
  background: rgb(39, 39, 39);
  box-shadow: 0px 1px 5px 1px rgb(0, 0, 0);
  backdrop-filter: blur(10px);
}

.nav-container2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
  justify-content: center;
  background: rgb(68, 68, 68);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 64px;
  right: 0;
  left: 0;
  overflow-y: hidden;
  z-index: 2;
  transition: .3s ease-in-out;
}

.social-icon-container {
  margin: 1rem 0;
}

.fa-linkedin,
.fa-github {
  width: 2rem;
  font-size: 2rem;
  margin: 0 1rem;
  text-decoration: none;
  color: rgb(88, 153, 170);
}

.fa-linkedin:visited,
.fa-github:visited {
  text-decoration: none;
  color: rgb(88, 153, 170);
}

.fa-bars {
  transition: .5s all ease;
  scale: 1.5;
  margin-left: auto;
  cursor: pointer;
}

.fa-xmark {
  right: 0px;
  scale: 1.7;
  transition: .5s all ease;
  margin-left: auto;
  cursor: pointer;
}

.fa-bars:active,
.fa-xmark:active {
  transform: rotate(360deg);
  transition: ease all .1s;
}

.fa-bars:hover,
.fa-xmark:hover {
  color: rgb(49, 94, 105);
}

.nav-item {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  /* font-family: 'Righteous', cursive; */
  transition: .5s all ease;
  color: white;
  cursor: pointer;
}

.nav-item:hover {
  color: rgb(88, 153, 170);
  background: rgb(39, 39, 39);
}

/* ===========HERO SECTION============== */

.hero-container {
  position: relative;
  padding: 10rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto 6em;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  margin-right: .5rem;
  width: 10rem;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 1px rgb(49, 49, 49);
}

.hero-title {
  margin: 1rem 0 0;
  text-align: center;
  width: 300px;
  font-size: 4rem;
}

.hero-description {
  width: 80%;
  margin: 1.25rem 0 0 0;
  z-index: 1;
  top: 90px;
}

.hero-description-title {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: .25rem 1rem;
  border-radius: 3px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -150%);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.slide-out {
  animation-name: slide-out;
  animation-duration: 2s; /* Adjust this duration for the transition speed */
  animation-timing-function: ease-in-out; /* Optional timing function */
  animation-fill-mode: forwards; /* Optional: Keeps the last keyframe state */
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 2s; /* Adjust this duration for the transition speed */
  animation-timing-function: ease-in-out; /* Optional timing function */
  animation-fill-mode: forwards; /* Optional: Keeps the last keyframe state */
}

/* =============PROJECTS SECTION=============== */

.projects-container {
  color: white;
  padding: 4rem 0 2rem 0;
  width: 90%;
  margin: 0 auto;
}

.projects-title {}

.rendered-projects {
  margin: 0 auto;
  padding: 0 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
}

.project-item-container {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  background: rgb(39, 39, 39);
  border-radius: 4px;
}

.project-img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  margin: 1rem auto 0;
}

.project-link-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0 0;
  align-items: center;
}

.project-link {
  color: rgb(88, 153, 170);
  width: 50%;
  transition: .2s ease-in-out;
  border-radius: 3px;
  border: 2px solid rgb(39, 39, 39);
}

.project-link:hover {
  color: white;
  border: 2px solid rgb(88, 153, 170);
}

.divider {
  margin: 0;
  font-weight: bold;
}

/* .project-link:visited {
  color: rgb(88, 153, 170);
} */

.project-description {
  /* background: rgb(94, 171, 254);
  width: 80%; */
  /* text-align: center;
  margin: 0 auto 1.5rem auto;
  padding: .25rem 1rem;
  border-radius: 3px; */
}

#item0 {
  object-position: 0% 0%;
  object-fit: cover;
}

#item1, #item3, #item4 {
  object-position: 100% 0;
}

/* ============SKILLS SECTION============== */

.skills-section {
  margin: 4rem 0;
}

.skills-title {
  margin-top: 0;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 2rem 0 0 0;
}

.skill-icon {
  margin: 0 .25rem;
  padding: .5rem;
  border: 2px solid rgb(39, 39, 39);
  width: 80px;
  transition: ease all .5s;
}

/* ===========ABOUT SECTION============== */
.what-i-do-container {
  background: rgb(75, 75, 75);
  background-image: url("/css-cocodingbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: rgb(158, 157, 157); */
  background-blend-mode: multiply;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
}

.what-i-do-container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.design-container,
.development-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 1rem auto;
}

.see-projects-btn {
  width: 150px;
  height: 60px;
  padding: 1re;
  margin: 1rem auto;
  background: rgb(204, 44, 44);
  border: none;
  color: white;
  font-family: "teko", sans-serif;
  font-size: 1.25rem;
  border-radius: 2px;
  transition: .5s ease all;
  cursor: pointer;
}

.see-projects-btn:hover {
  scale: 1.2;
  background: rgb(136, 31, 31);
}

.what-i-do-mini-title {
  background: rgb(39, 39, 39);
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: .25rem 1rem;
  border-radius: 3px;
}

.what-i-do-descrip {
  padding: 0 24px;
}

.who-i-am-container {
  padding: 4rem 0 2rem;
  position: relative;
}

.about-title {
  margin-bottom: .5rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.about-logo {
  text-align: center;
  width: 10rem;
  margin: 0 auto;
  border-radius: 50%;
}

.who-i-am-mini-title {
  width: 70%;
  margin: auto;
  padding: .25rem 1rem;
  border-radius: 3px;
  z-index: -1;
}

.who-i-am-description {
  padding: 1rem 1.5rem;
  border: 2px solid rgb(88, 153, 170);
  margin: 2rem;
}

a {
  text-decoration: none;
}

/* ===========FOOTER============== */
footer {
  background: black;
  padding: 3rem 3rem 2rem 3rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-email, .footer-title {
  margin: .5rem auto;
  color:rgb(255, 255, 255);
}

/* ===========MEDIA QUERIES================ */
@media screen and (min-width: 700px) {

  .nav-container1 {
    top: 0;
  }

  .hero-container {
    width: 90%;
    max-width: 625px;
    height: 500px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 3em auto 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .hero-logo {
    margin-right: .5rem;
    width: 19rem;
    border-radius: 3px;
    border: 2px solid rgb(199, 199, 199);
    box-shadow: 0px 0px 10px 1px rgb(156, 156, 156);
  }
  
  .hero-title {
    width: 100%;
    font-size: 6.5em;
    text-align: center;
  }

  .hero-description {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: right;
    height: 50px;
    width: 100%;
    max-width: 900px;
  }

  .hero-description-title {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0 auto 0 0;
  
  }

  .skill-icon {
    margin: 0 1rem;
    width: 70px;
  }

  .what-i-do-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}